@font-face {
    font-family: 'robo';
    src: url(fontes/idroid.otf) format(opentype);
}

body{
    background-color: #E8E6C2;
    margin: 0px;
}

header{
    background-image: linear-gradient(180deg, #00ca58, rgb(0, 73, 0));
}

header > h1{
    text-align: center;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 20px;

    font: normal lighter 2em "Franklin Gothic Medium", sans-serif;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.336);
}

header > p{
    width: 400px;
    margin: auto;
    text-align: center;

    font: normal lighter 1em "Franklin Gothic Medium", sans-serif;
    color: white;

}

menu{
    padding-left: 20px;
    margin-bottom: 0;
}

menu > a{
    text-align: left;
    margin-right: 5px;
    padding: 0px 10px;

    font: normal lighter 1em "Franklin Gothic Medium", sans-serif;
    text-decoration: none;
    color: #84E1AD;
}

menu > a:hover{

    color: rgb(0, 73, 0);
    background-color: #84E1AD;
}

main{
    margin: 0px 70px;
    padding: 10px;
    background-color: white;
    text-align: justify;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.021);
    border-radius: 0px 0px 10px 10px;
}

article > h1{
    font: normal bold 1.5em 'robo', serif;
    color: #008037;
}

article > h2{
    font: normal normal 1em 'robo', serif;
    color: #008037;
    background-image: linear-gradient(90deg, rgb(155, 252, 155), rgba(0, 146, 0, 0.041));
}

h2#extra{
    font: normal bold 1em 'sans-serif';
    color: white;
    background-image: linear-gradient(90deg, green, green);
    margin: 0;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}

section#extrasec{
    background-color: #84E1AD;
    border-radius: 0px 0px 10px 10px;
}

#extrasec > p{
    margin: 0;
    padding: 10px;
}
span{
    color: #008037;
    font-weight: 600;
}

.link{
    color: #008037;
    font-weight: 600;
    background-color: #84E1AD;
}

.link::after{
    content: '🔗';
}

footer{
    margin: 0;
    height: 15px;

    background-color: black;
    color: white;
}



footer > p{
    margin: 0;
    padding-top: 3px;
    text-align: center;

    font: normal lighter 0.5em serif;
}